body {
    font-family: 'Arial', sans-serif;
    background-color: #2b2b2b;
    color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input, .search-bar button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.search-bar input {
    flex: 2;
}

.search-bar button {
    flex: 1;
    cursor: pointer;
    background-color: #e62429;
    color: #f4f4f4;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #b9181a;
}

#charactersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.character-card {
    width: 150px;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #3a3a3a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.character-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.character-info img {
    max-width: 100%;
    border-radius: 10px;
}

#characterDescription {
    flex: 1;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.series-image, .comic-image {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.series-image:hover, .comic-image:hover {
    transform: scale(1.1);
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #3a3a3a;
    color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #e62429;
}

.pagination .active {
    background-color: #e62429;
}
